.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  color: white;
  border-top-right-radius: 0.25rem;
  font-weight: 700;
}
  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  color:darkblue!important;
}
  .modal{
      top:20%;
  }
